header{
    display: flex;
    justify-content: space-between;
}
main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 11rem;
}
footer{
    display: flex;
    background-color: rgba(192, 192, 192, 0.34);
    width: 100%;
    flex-direction: column;
    align-items: baseline;
    position: fixed;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 2rem;
    /* text-decoration: none; */
    padding-bottom: 0;
    margin-bottom: 0 ;
   left: 0;
   bottom: 0;
   text-align: center;
   align-items: center;
}
a:visited, a:link,a:hover, a:active{
    text-decoration: none;
    color: #5b5a5a;
}
.right-nav{
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.search-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

} */
.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.corner {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: #000; /* Set the bg image here. with "no-repeat" */
}

.search {
    position: relative;
    max-width: 550px;
    /* width: 190px; */
    height: 30px;
}
